<filesMatch "\.(html|json|css|js)$">
	fileETag None
	<ifModule mod_headers.c>
		header unset ETag
		header set Control-Cache "max-age=0, no-cache, no-store, must-revalidate"
		header set Pragma "no-cache"
	</ifModule>
</filesMatch>